<div class="col-lg-12">
    <h1>Solicitar Credito</h1>
    <div class="col-lg-12">
        <div class="alert alert-{{status.result}}" role="alert"
            *ngIf="status.result && status.message">
             {{ status.message }}
        </div>
        <app-identificacion (emitterIdentificacion)="verificarCliente($event)"></app-identificacion>
    </div>
    <br>
    <div *ngIf="infoCliente && infoCliente.token">
        <h4>Ingrese los siguientes datos: {{ infoCliente.cliente.nombre +' '+ infoCliente.cliente.apellido }}</h4>
        <form novalidate (ngSubmit)="onSubmit()" [formGroup]="solicitudFG">
            <div class="form-group">
                <label class="col-sm-2 col-form-label">
                    Empresa:
                </label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" placeholder="Digita el nombre de la empresa donde labora" formControlName="empresa" />
                    <div class="alert alert-danger" role="alert" *ngIf="solicitudFG.get('empresa').touched && solicitudFG.get('empresa').invalid">
                        Debe ingresar el nombre de la empresa
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-form-label">
                    Nit:
                </label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" placeholder="Digita el nit de la empresa donde labora" formControlName="nit" />
                    <div class="alert alert-danger" role="alert" *ngIf="solicitudFG.get('nit').invalid && solicitudFG.get('nit').touched">
                        Debe ingresar el nit. solo se acepta numeros.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-form-label">
                    Salario:
                </label>
                <div class="col-sm-10">
                    <input class="form-control" type="number" placeholder="Digita tu salario" formControlName="salario" />
                    <div class="alert alert-danger" role="alert" *ngIf="solicitudFG.get('salario').touched && solicitudFG.get('salario').invalid">
                        Debe ingresar su salario.
                    </div>
                </div>

            </div>
            <div class="form-group">
                <label class="col-sm-2 col-form-label">
                    Fecha Ingreso:
                </label>
                <div class="col-sm-10">
                    <input formControlName="fechaInicio"  class="form-control" type="text" [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" >
                    <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
                    <div class="alert alert-danger" role="alert" *ngIf="solicitudFG.get('fechaInicio').touched && solicitudFG.get('fechaInicio').invalid">
                        Debe ingresar la  Fecha en que ingreso a la empresa.
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <button class="btn btn-primary" [disabled]="solicitudFG.invalid" type="submit">Solicitar</button>
                &nbsp;
                <button class="btn btn-danger">Limpiar</button>
            </div>

        </form>
    </div>
</div>
