<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Solicita tu credito ya!</h1>
        <p class="lead">En gestiona tu prestamo prodas solicitar tu credito en cuestion de minutos .</p>
        <hr class="my-4">
        <p>Gestiona tu prestamo te respondera en segundos si tu credito fue aprobado.</p>
        <button class="btn btn-primary btn-lg" [routerLink]="['/registo-cliente']">Registrarse</button>
        &nbsp;
        <button class="btn btn-success btn-lg" [routerLink]="['/solicitar-credito']" role="button">Solicitar Credito</button>
    </div>
</div>


